body {
    margin: 0 auto;
}

.hero-image {
    background-image: url("../images/bg/flowers-3956074_1920.jpg");
    position: fixed;
    background-size: cover;
    background-position: center;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    margin: 0 auto;
}

#overlay {
    background: rgba(0, 0, 0, 0.301);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 80px;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 25px;
    text-align: center;
    width: 75%;
    height: 100%;
    margin-top: 25px;
}

h1 {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 65px;
    margin-bottom: 0px;
}

h2 {
    /* font-family: 'Amarante', cursive; */
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-family: 'Unica One', cursive;
    margin-bottom: 0px;
    /* text-transform: uppercase; */
    color: white;
    font-size: 32px;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    color: white;
    font-size: 32px;
}

.text-content {
    color: white;
    font-family: 'Unica One', cursive;
    font-size: 28px;
    font-weight: 600;
    /* font-family: 'Shadows Into Light Two', cursive; */
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
    -moz-column-gap: 5px; /* Firefox */
    column-gap: 5px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    color: white;
    padding: 15px;
    margin: 0 auto;
  }

.buttons {
    margin-top: 20px;
}

#imgBtn {
    width: 145px;
    padding: 5px;
}

.vectorBtn {
    margin: auto;
    border-radius: 8px;
    background-color: white;
    border: white;
    border-style: solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.vectorBtn:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4), 0 3px 15px 0 rgba(0,0,0,0.30);
}


/* #redBtn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */